In [24]:
import pandas as pd
import numpy as np
import MySQLdb
from pandas.io import sql
from sqlalchemy import create_engine

In [25]:
with open("username.txt") as f:
    user = f.read()
with open("password.txt") as g:
    password = g.read()

In [26]:
engine = create_engine('mysql+mysqldb://' + user + ':' + password + '@127.0.0.1:3306/board_games?charset=utf8mb4')

In [27]:
user_ratings = pd.read_sql("SELECT * FROM user_ratings", engine)

In [28]:
user_ratings

          gameid         username  rating
0          30549          Torsten    10.0
1          30549  mitnachtKAUBO-I    10.0
2          30549           avlawn    10.0
3          30549       Mike Mayer    10.0
4          30549          Mease19    10.0
...          ...              ...     ...
14064607  156089           himokl     4.0
14064608  156089     masterxavier     3.0
14064609  156089        tkzubaran     2.0
14064610  156089       Simplykoke     1.0
14064611  156089           dugger     1.0

[14064612 rows x 3 columns]

In [29]:
user_nrates = pd.DataFrame(user_ratings.username.value_counts())

In [30]:
user_nrates

              username
Doel              2474
leffe dubbel      2320
TomVasel          2106
JasonSaastad      2004
Hessu68           2000
...                ...
Freddy_Plays         1
adamobren            1
Hiannn               1
UnicornGamer         1
eng1neer             1

[324856 rows x 1 columns]

In [31]:
low_raters = user_nrates.loc[user_nrates['username'] < 10].index.tolist()

In [32]:
user_ratings_subset = user_ratings[~user_ratings.username.isin(low_raters)]

In [33]:
user_ratings_subset

          gameid         username  rating
0          30549          Torsten    10.0
1          30549  mitnachtKAUBO-I    10.0
2          30549           avlawn    10.0
3          30549       Mike Mayer    10.0
4          30549          Mease19    10.0
...          ...              ...     ...
14064607  156089           himokl     4.0
14064608  156089     masterxavier     3.0
14064609  156089        tkzubaran     2.0
14064610  156089       Simplykoke     1.0
14064611  156089           dugger     1.0

[13610930 rows x 3 columns]

In [34]:
user_ratings_subset.drop_duplicates(inplace=True)

C:\Users\timco\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
multis = user_ratings_subset.loc[user_ratings_subset.duplicated(subset=["gameid", "username"], keep=False)]  # rows where (game, user) is duplicate
df_no_multis = user_ratings_subset.loc[~user_ratings_subset.duplicated(subset=["gameid", "username"], keep=False)] # rows where (game, user) is NOT duplicate

In [36]:
df_ratings = df_no_multis.copy()

In [14]:
#df_ratings.to_sql(name="user_ratings_subset", con=engine, if_exists="append", index=False)

In [37]:
df_ratings

          gameid         username  rating
0          30549          Torsten    10.0
1          30549  mitnachtKAUBO-I    10.0
2          30549           avlawn    10.0
3          30549       Mike Mayer    10.0
4          30549          Mease19    10.0
...          ...              ...     ...
14064607  156089           himokl     4.0
14064608  156089     masterxavier     3.0
14064609  156089        tkzubaran     2.0
14064610  156089       Simplykoke     1.0
14064611  156089           dugger     1.0

[13481039 rows x 3 columns]

In [16]:
#df_ratings.groupby('username')['rating'].mean()

username
 beastvol         7.461538
 mycroft          7.635294
-=Yod@=-          7.407843
-Johnny-          5.585752
-Loren-           7.334177
                    ...
zzzuzu            7.285714
zzzvone           6.920833
zzzxxxyyy         8.250000
zzzzzane          7.463571
Æleksandr Þræð    8.150000
Name: rating, Length: 186981, dtype: float64

In [18]:
#df_rating_grouping = df_ratings.groupby('username')

In [19]:
#df_rating_grouping

In [38]:
df_rating_pivot = df_ratings.pivot_table(index = 'gameid', columns = 'username', values = 'rating')

MemoryError:

In [25]:
df_rating_pivot

gameid,1,3,5,7,9,10,11,12,13,14,...,283948,284083,284435,284760,285774,285984,286096,287954,290448,291457
username,,,,,,,,,,,,,,,,,,,,,
beastvol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mycroft,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-=Yod@=-,NaN,NaN,NaN,7.5,NaN,NaN,7.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Johnny-,5.0,4.0,7.0,NaN,NaN,4.0,6.0,5.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Loren-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzzuzu,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzvone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzxxxyyy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzzzane,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,8.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Æleksandr Þræð,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
user_means1 = df_rating_pivot.mean(axis=1)

In [27]:
#user_means0 = df_rating_pivot.mean(axis=0)

In [28]:
#user_means1

username
 beastvol         7.461538
 mycroft          7.635294
-=Yod@=-          7.407843
-Johnny-          5.585752
-Loren-           7.334177
                    ...
zzzuzu            7.285714
zzzvone           6.920833
zzzxxxyyy         8.250000
zzzzzane          7.463571
Æleksandr Þræð    8.150000
Length: 186981, dtype: float64

In [29]:
user_means0

gameid
1         7.682495
3         7.463900
5         7.396920
7         6.494584
9         6.464057
            ...
285984    7.758394
286096    7.471114
287954    7.853167
290448    8.472341
291457    9.173556
Length: 3000, dtype: float64

In [30]:
df_rating_pivot = df_rating_pivot.subtract(user_means1, axis = 0)

In [31]:
df_rating_pivot

gameid,1,3,5,7,9,10,11,12,13,14,...,283948,284083,284435,284760,285774,285984,286096,287954,290448,291457
username,,,,,,,,,,,,,,,,,,,,,
beastvol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.538462,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mycroft,NaN,NaN,0.364706,NaN,NaN,NaN,NaN,NaN,1.364706,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-=Yod@=-,NaN,NaN,NaN,0.092157,NaN,NaN,-0.407843,NaN,-0.407843,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Johnny-,-0.585752,-1.585752,1.414248,NaN,NaN,-1.585752,0.414248,-0.585752,1.414248,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Loren-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzzuzu,NaN,NaN,NaN,NaN,NaN,NaN,1.714286,NaN,1.714286,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzvone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.079167,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzxxxyyy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzzzane,NaN,NaN,NaN,NaN,NaN,NaN,-0.463571,1.536429,1.036429,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Æleksandr Þræð,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_rating_pivot.fillna(0)

gameid,1,3,5,7,9,10,11,12,13,14,...,283948,284083,284435,284760,285774,285984,286096,287954,290448,291457
username,,,,,,,,,,,,,,,,,,,,,
beastvol,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.538462,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mycroft,0.000000,0.000000,0.364706,0.000000,0.0,0.000000,0.000000,0.000000,1.364706,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-=Yod@=-,0.000000,0.000000,0.000000,0.092157,0.0,0.000000,-0.407843,0.000000,-0.407843,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-Johnny-,-0.585752,-1.585752,1.414248,0.000000,0.0,-1.585752,0.414248,-0.585752,1.414248,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-Loren-,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzzuzu,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.714286,0.000000,1.714286,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzvone,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.079167,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzxxxyyy,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzzzane,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,-0.463571,1.536429,1.036429,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Æleksandr Þræð,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
from scipy.sparse import csr_matrix

In [3]:
df_sparse_matrix = csr_matrix(df_rating_pivot.values)

NameError: name 'df_rating_pivot' is not defined

In [39]:
df_rating_pivot2 = df_ratings.groupby(['gameid', 'username'])['rating'].max().unstack()

MemoryError:

In [17]:
df_rating_pivot2

username,beastvol,mycroft,-=Yod@=-,-Johnny-,-Loren-,-LucaS-,-mIDE-,-mik-,-pj-,-snarf-,...,zzz2525,zzzabiss,zzzeagle,zzzk1,zzzkardel,zzzuzu,zzzvone,zzzxxxyyy,zzzzzane,Æleksandr Þræð
gameid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,4.0,NaN,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,8.0,NaN,7.0,NaN,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
user_means1b = df_rating_pivot2.mean(axis=1)

In [19]:
df_rating_pivot2 = df_rating_pivot2.subtract(user_means1b, axis = 0)

In [20]:
df_rating_pivot2

username,beastvol,mycroft,-=Yod@=-,-Johnny-,-Loren-,-LucaS-,-mIDE-,-mik-,-pj-,-snarf-,...,zzz2525,zzzabiss,zzzeagle,zzzk1,zzzkardel,zzzuzu,zzzvone,zzzxxxyyy,zzzzzane,Æleksandr Þræð
gameid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,-2.682495,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,-3.463900,NaN,NaN,0.5361,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,0.60308,NaN,-0.396920,NaN,NaN,NaN,-0.39692,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,1.005416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.528886,-0.471114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.853167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_rating_pivot2.fillna(0)

username,beastvol,mycroft,-=Yod@=-,-Johnny-,-Loren-,-LucaS-,-mIDE-,-mik-,-pj-,-snarf-,...,zzz2525,zzzabiss,zzzeagle,zzzk1,zzzkardel,zzzuzu,zzzvone,zzzxxxyyy,zzzzzane,Æleksandr Þræð
gameid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.00000,0.000000,-2.682495,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00000,0.000000,-3.463900,0.0,0.0,0.5361,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.60308,0.000000,-0.396920,0.0,0.0,0.0000,-0.39692,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.00000,1.005416,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286096,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,2.528886,-0.471114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287954,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,-0.853167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
290448,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
291457,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df_sparse_matrix = csr_matrix(df_rating_pivot2.values)

MemoryError: